# Dependências
# Ignora a node_modules de qualquer pasta
**/node_modules

# Arquivos de log e de ambiente
.env
.env.local

# Pastas de build (geradas automaticamente)

/dist
/build

# Outros

/.pnp
.pnp.js

