/* bubbles.css */
.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
}

.bubble {
  position: absolute;
  bottom: -100px;
  background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
  animation: rise 10s infinite ease-in;
  opacity: 0.6;
  filter: blur(1px);
}

.bubble:nth-child(1) { left: 10%; width: 30px; height: 30px; animation-delay: 0s; }
.bubble:nth-child(2) { left: 25%; width: 40px; height: 40px; animation-delay: 2s; }
.bubble:nth-child(3) { left: 40%; width: 50px; height: 50px; animation-delay: 4s; }
.bubble:nth-child(4) { left: 60%; width: 35px; height: 35px; animation-delay: 1s; }
.bubble:nth-child(5) { left: 75%; width: 45px; height: 45px; animation-delay: 3s; }
.bubble:nth-child(6) { left: 90%; width: 25px; height: 25px; animation-delay: 5s; }
.bubble:nth-child(7) { left: 50%; width: 40px; height: 40px; animation-delay: 6s; }

@keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-1200px) scale(1.2);
    opacity: 0;
  }
}
